{% extends 'base.html.twig' %}

{% block body %}

    <div class = "basket">
        <div class = "basket_items" style="display: flex; justify-content: start; flex-wrap: wrap; gap:50px;">
        {% for product in products %}
            <div class="basket_item" style="border:1px solid black; margin:10px;">
                <div class="basket_item_name">
                    {{ product.title }}
                </div>
                <div class="basket_item_image" style='width:150px; height:150px;'>
                    {% if product.image %}
                        <img src="/{{ product.image ? product.image.path }}" style="height: 100%;
                        width: 100%;">
                    {% else %}
                        <span style = 'align:center'>'NO IMAGE'</span>
                    {% endif %}
                </div>
                <div class="basket_item_delete">
                    <a class="btn btn-sm btn-danger remove_product"  href="{{ path('product_remove', {'product': product.id}) }}">Delete</a>
                </div>
            </div>
        {% else %}
            <div class="basket_item">No products found.</div>
        {% endfor %}
        </div>
        <div class = "orders">
            <div class ="payments">
                <a href="{{ path('payments_view') }}">Payments History</a>
            </div>
            
            <div class ="payment">
                <a class="btn-success" href="{{ path('payment_create') }}">Pay this order</a>
            </div>

        </div>
    </div>
    
{% endblock %}