{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        <div class="mb-3">
            <label class="btn btn-primary" for="upload-image">Upload Image</label>
            <input type="file" class="upload-image" id="upload-image" style="display:none;">
            {# {% if product %}
              <img src="
                {% if product.image %}
                  /{{ product.image.path }}
                {% else %}
                  https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp
                {% endif %}
                "
                alt="avatar 1" style="width: 45px; height: 45px;">
          {% endif %} #}
        </div>

        {{ form_row(form.edit)}}
    {{ form_end(form) }}
{% endblock %}